@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap');
@import './variables';
@import './mixins';

body {
  margin: 0; padding: 0;
  box-sizing: border-box;
  background-color: #252423;
  transition: $transition;
  color: white;
  font-family: 'Montserrat', sans-serif;

  h1, h2, h3, p {
    margin: 0;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

::selection {
  background-color: #4f13af33;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

a, a:visited {
  color: white;
}