@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');
@import './variables';
@import './mixins';

body {
  margin: 0; padding: 0;
  background-color: #252423;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

  h1, h2, h3, p {
    margin: 0;
  }
}

::selection {
  background-color: #4f13af33;
}

::-webkit-scrollbar {
  display: none;
}