@import './variables';
@import './mixins';
@import './globalStyles';

._link {
  @include all-cent;
  text-decoration: none;
  padding: $mSpace;
  border-radius: $br-rad;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  transition: $transition;
  gap: $mSpace / 2;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 3px;
    background-color: $mColor;
    transition: 0.15s ease-out;
    opacity: 0;
    transform: translateY(5px);
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-active {
    background-color: $mColor;
  }

  &-active:hover {
    &::after {
      opacity: 0;
    }
  }

  &-active::after {
    opacity: 0;
  }
}

._column {
  display: flex;
  flex-direction: column;
  gap: $mSpace;
}

._row {
  display: flex;
  gap: $mSpace;
  align-items: center;
}

// ._btn {
//   @include all-cent;
//   gap: $space / 2;
//   border-radius: $br-rad;
//   height: 50px;
//   border: none;
//   padding: $space;
//   background-color: $sColor;
//   font-family: 'Montserrat', sans-serif;
//   transition: $transition;

//   &:hover {
//     background-color: $mColor;
//   }

//   img {
//     max-height: 20px;
//     width: auto;
//   }
// }
