@import './variables';

@mixin all-cent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin glass-effect {
	border-radius: $br-rad;
	background: rgba(255,255,255,0.2);
	backdrop-filter: blur(10px);
}