$br-rad: 15px;
$space: 15px;
$transition: 0.5s ease;
$mColor: rgba(62, 80, 130, 0.7);
$dzColor: rgba(159, 177, 224, 0.7);
$sColor: #3e5082;
$large: 1200px;
$medium: 900px;
$extra-medium: 720px;
$small: 600px;
$extra-small: 525px;