$br-rad: 4.9vh;
$space: 4.9vh;
$mSpace: 2.46vh;
$transition: 0.5s ease;

$mColor: rgb(80, 41, 131);
$sColor: rgba(80, 41, 131, 0.7);

$large: 1200px;
$medium: 900px;
$extra-medium: 720px;
$small: 600px;
$extra-small: 525px;