// Variables
$br-rad: 4.9vh;
$space: 4.9vh;
$mSpace: 2.46vh;
$transition: 0.5s ease;

// Colors
$mColor: rgb(80, 41, 131);
$sColor: rgba(80, 41, 131, 0.7);

// Media
$large-w: 1000px;
$medium: 950px;
$extra-medium: 800px;
$small: 600px;
$extra-small: 550px;